<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherWidget.Properties.Settings>
            <setting name="UseManualLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value></value>
            </setting>
        </WeatherWidget.Properties.Settings>
    </userSettings>
</configuration>